<div class="row container">
  <div class="col-12">
    <h4>CSV tables</h4>
    <div>
      <p>
        The CSV file must not contain the column head, the tables presented
        below are representative of the order the comumns should have.
      </p>
    </div>
  </div>
  <div class="col-8 text-center" style="margin: 10px;">
    <h6>Customers CSV format</h6>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th scope="col">First Name</th>
          <th scope="col">Last Name</th>
          <th scope="col">DoB</th>
          <th scope="col">Postcode</th>
          <th scope="col">Email</th>
          <th scope="col">Who client heard about clinic</th>
          <th scope="col">Relatives ID</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Mark</td>
          <td>Otto</td>
          <td>07-02-1992</td>
          <td>G34TK</td>
          <td>otto@gmai.com</td>
          <td>event</td>
          <td>34-12-32</td>
        </tr>
        <tr>
          <td>Lucas</td>
          <td>Kirby</td>
          <td>07-02-1962</td>
          <td>G34TK</td>
          <td>kylu@gmai.com</td>
          <td>online</td>
          <td>15-3</td>
        </tr>
        <tr>
          <td>Marys</td>
          <td>Kirby</td>
          <td>13-09-1982</td>
          <td>G34TK</td>
          <td>marys92@gmai.com</td>
          <td>recommendation</td>
          <td>2</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-3 text-center" style="margin: 10px;">
    <h6>Injuries CSV format</h6>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th scope="col">Injury</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>neck</td>
        </tr>
        <tr>
          <td>knee</td>
        </tr>
        <tr>
          <td>ankle</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-5 text-center" style="margin: 10px;">
    <h6>Appointments CSV format</h6>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th scope="col">CustomerID</th>
          <th scope="col">Date</th>
          <th scope="col">Type Appointment (1/r)</th>
          <th scope="col">Injury</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>20-07-2018</td>
          <td>1</td>
          <td>Neck</td>
        </tr>
        <tr>
          <td>2</td>
          <td>25-03-2018</td>
          <td>1</td>
          <td>Knee</td>
        </tr>
        <tr>
          <td>2</td>
          <td>25-09-2018</td>
          <td>r</td>
          <td>Ankle</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="col-5 text-center" style="margin: 10px;">
    <h6>Events CSV format</h6>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th scope="col">Event name</th>
          <th scope="col">Postcode</th>
          <th scope="col">Date</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>School Event</td>
          <td>G412DE</td>
          <td>27-05-2019</td>
        </tr>
        <tr>
          <td>Fliers Gym</td>
          <td>G52DR</td>
          <td>22-01-2019</td>
        </tr>
        <tr>
          <td>Gym Speech</td>
          <td>G21TX</td>
          <td>11-09-2018</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
