<div
  class="modal  bd-example-modal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="mySmallModalLabel"
  aria-hidden="false"
  style="display: block; height: 500px;"
>
  <div class="modal-dialog modal-sm" style="background-color: transparent;">
    <div class="modal-content" style="background-color: transparent; border:transparent">
      <div class="loader">
      </div>

    </div>
    <div class="modal-content" style="text-align: center">
        <h4>Wait till loading of file finishes</h4>
      </div>
  </div>
</div>
