<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head th:replace="common/header :: common-header"/>


<body id="page-top">

<div th:replace="common/header :: navbar"/>


<div id="wrapper">

    <div th:replace="common/header :: sidebar"/>

    <div id="content-wrapper">

        <div class="container-fluid">

            <!-- Breadcrumbs-->
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a th:href="@{/}">Dashboard</a>
                </li>
                <li class="breadcrumb-item">
                    <a th:href="@{/data/customers}">Customers</a>
                </li>
                <li class="breadcrumb-item active" th:text="${customer.firstName}"></li>
            </ol>

            <!-- Page Content -->
            <p th:text="${customer.id}"></p>

        </div>
        <!-- /.container-fluid -->

        <div th:replace="common/header :: footer"/>

    </div>
    <!-- /.content-wrapper -->

</div>
<!-- /#wrapper -->

<div th:replace="common/header :: scroll-up"/>

<div th:replace="common/header :: footer-script"/>

</body>

</html>
