<div *ngIf="pieChartData">
  <div *ngIf="pieChartData.length < 1">
    <h5>Not enough data uploaded</h5>
    <p>You can upload more data <a routerLink="/upload">here.</a></p>
  </div>
  <div *ngIf="!(pieChartData.length < 1)" class="card mb-3">
    <div class="card-header">
      <i class="fas fa-chart-pie"></i>
      {{ title }}
    </div>
    <div class="card-body">
      <canvas
        baseChart
        [data]="pieChartData"
        [labels]="pieChartLabels"
        [chartType]="pieChartType"
        [legend]="legend"
        [colors]="pieChartColors"
      >
      </canvas>
    </div>
    <div class="card-footer small text-muted"></div>
  </div>
</div>

<!-- [colors]="pieChartColors" -->
